.main-movies{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (max-width:900px){
    .header{
        background-color: var(--secondary-color);
        height: 180px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        padding-top: 10px;
    }
    .search-btn{
        width: 200px;
        margin-right: 100px;
    }
}
.notfound{
    font-size: 40px;
    font-weight: bold;
}