.shows{
    margin-top: 1rem;
    margin-left: 1.6rem;
    box-shadow: 0 5px 10px black;
    width: 250px;
    background-color: var(--secondary-color);
    margin: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.shows-details{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .shows .poster{
    width: 100%;
    height: 300px;
}

.shows-details .box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.shows-details .overview{
    position: absolute;
    left: 0;
   bottom: 0;
   max-height: 100%;
   background-color: var(--secondary-color);
   opacity: 0.9;
   color: black;
   box-sizing: border-box;
   padding: 1rem;
   transition: all 0.4s ease-in-out;
   overflow-y: auto;
   transform: translateY(101%);
}
.shows-details:hover .overview{
    transform: translateY(0%);
}